- content_for(:header) do
  .inner
    %h1
      Get access to
      %br>/
      Cloud Foundry
    %h2 You and everyone else can deploy and run applications on our Cloud Foundry
    %a.button{:href => "https://github.com/cloudfoundry-community/share-my-cloudfoundry"}
      %small> View project on
      GitHub


%h3 Step 1. Register

- if email_register_enabled?
  = form_for :users, url: {controller: 'users', action: 'create'} do |form|
    .form-inputs
      Enter your email:
      = email_field_tag :email
      - if recaptcha_enabled?
        = recaptcha_tags
      = submit_tag 'Register'

.form-actions
  Or signin with:

  - if att_register_enabled?
    %a.auth_provider{ href: '/auth/att' }
      = image_tag 'att_64.png', size: '64x64', alt: 'AT&T'

  - if facebook_register_enabled?
    %a.auth_provider{ href: '/auth/facebook' }
      = image_tag 'facebook_64.png', size: '64x64', alt: 'Facebook'

  - if github_register_enabled?
    %a.auth_provider{ href: '/auth/github' }
      = image_tag 'github_64.png', size: '64x64'

  - if linkedin_register_enabled?
    %a.auth_provider{ href: '/auth/linkedin_oauth2' }
      = image_tag 'linkedin_64.png', size: '64x64', alt: 'Linkedin'

  - if twitter_register_enabled?
    %a.auth_provider{ href: '/auth/twitter' }
      = image_tag 'twitter_64.png', size: '64x64', alt: 'Twitter'
