%h3 Your user has been successfully created!

%p To login to Cloud Foundry use these commands:
%p gem install cf
%p
  cf target
  = Figaro.env.cf_endpoint
%p
  cf login --username
  = @user_email
  \--password
  = @user_password
  \-o
  = @organization_name
  \-s
  = @space_name
%p
  cf passwd --password
  = @user_password
- if Figaro.env.respond_to?(:cf_console_url)
  %p
    Or use the
    = link_to 'Cloud Foundry console', Figaro.env.cf_console_url, target: 'new'
