!!!
%html
  %head
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
      %title= content_for?(:title) ? yield(:title) : 'Share my Cloud Foundry'
      %meta{:content => content_for?(:description) ? yield(:description) : 'Share my Cloud Foundry', :name => 'description'}
        %link{:href => 'https://fonts.googleapis.com/css?family=Architects+Daughter', :rel => 'stylesheet', :type => 'text/css'}
        = stylesheet_link_tag 'application', :media => 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
  %body
  %header
    .inner
      %h1
        Share my
        %br>/
        Cloud Foundry
      %h2 Let anyone at your company create their own account on your Cloud Foundry installation
      %a.button{:href => "https://github.com/cloudfoundry-community/share-my-cloudfoundry"}
        %small> View project on
        GitHub
  #content-wrapper
    .inner.clearfix
      %section#main-content
        = render 'layouts/messages'
        = yield
      %aside#sidebar
        %a.button{:href => "http://cloudfoundry-community.github.io/share-my-cloudfoundry"}
          %small> View the
          Instructions
        %p.repo-owner
          %a{:href => "https://github.com/cloudfoundry-community/share-my-cloudfoundry"} share-my-cloudfoundry
          is maintained by the
          = succeed "." do
            %a{:href => "https://github.com/cloudfoundry-community"} cloudfoundry-community
        %p
          This page is using the Architect theme by
          = succeed "." do
            %a{:href => "https://twitter.com/jasonlong"} Jason Long
